

#title {
  text-align: center;
}

img {
  height: auto;
  margin: 50px;
  border: 1px solid rgb(1, 2, 0);
}

#met-jpg {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#artwork-info {
  display: flex;
  flex-direction: column;
}

#artwork-info h3 {
  text-align: center
}

#artwork-info h5 {
  text-align: center
  
}

#artwork-info img {
  
  padding-bottom: 0;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#select-artwork {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto
  
}

#submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#form {
  background: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  margin: 0;
}
